body {
    font-family: Arial;
    background: #f5f2ff;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}

nav a {
    margin-right: 15px;
}
